.Button {
  background: #333;
  width: auto;
  min-height: 72px;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: filter 0.4s ease-in;
}

.Button:active,
.Button:focus {
  filter: brightness(120%);
}

.Button.zero {
  width: auto;
  grid-column: 1 / span 2;
  border-radius: 57.5px;
  position: relative;
  justify-content: flex-start;
  padding-left: 43px;
}

.Button.function {
    color: black;
    background: #a5a5a5;
}

.Button.operator {
    /* background: #f1a33c; */
    background: tomato;
}